    <!DOCTYPE html>
    <html lang="es">
        <head><meta charset="UTF-8"><title>Perfil de Estudiante</title>

    <link rel="stylesheet" href="estilos.css">
    </head>

        <body>


        <header>
        <h1 id="nombre">Camila Martinez</h1>
        </header>

    
    <section class="perfil">
        <img src="/home/desarrollo/Documentos/EjeFastApi/Pagina/Avatar.png" alt="Foto de perfil">
    </section>
    <section class="info">
        <h2>Sobre mí</h2>
        <p id="descripcion">
            Soy estudiante de ingeniería en sistemas y computación.
        </p>
    </section>


    <section class="intereses">
        <h2>Habilidades</h2>
        <ul id="lista">
            <li>Comunicación asertiva</li>
            <li>Análisis</li>
            <li>Creatividad</li>
        </ul>
    </section>

    
    <section class="contacto">
        <h2>Contacto</h2>
        <p>Email: mcmartinez16@ucatolica.edu.co</p>
            <p>Teléfono: 3169938978</p>


    </section>
    
</body>
</html>